.btn {
  border: none;
  padding: 1rem 2rem;
  background: var(--sky);
  border-radius: 20rem;
  font-size: 1.4rem;
  cursor: pointer;
}
.hidden {
  display: none;
}
/* ==========================HEADER=============== */

@media only screen and (max-width: 750px) {
  .nav-menu,
  .nav-items {
    flex-direction: column;
  }
  .nav .toggle-collapse .toggle-icons i {
    display: initial;
  }
}

/* ==========================END HEADER=========== */

/* ==========================HERO=========== */
.contact-hero {
  background: black;
  display: flex;
  justify-content: center;
  padding: 3rem 0;
}
.contact-hero > h2 {
  color: white;
  font-family: tahoma;
  font-size: 2.5rem;
}
/* ==========================END HERO=========== */
/* ==========================CONTACT FORM======= */
.contact-contact {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-bottom: 10rem;
}
.contact-form {
  padding: 5rem 5rem 2.5rem 5rem;
  font-family: tahoma;
}
.contact-form > h3 {
  color: black;
  font-size: 1.6rem;
  width: 50%;
  margin-bottom: 1rem;
}
.form-group {
  display: flex;
  flex-direction: column;
}
.form-group > input,
.form-group > textarea {
  padding: 0.4rem 0.6rem;
  border-radius: 0.2rem;
  outline-width: 0;
  margin: 0.5rem 0;
  border: 1px solid black;
}
.btn {
  background-color: #f5d020;
  background-image: linear-gradient(315deg, #f53803 25%, #f5d020 50%);
  background: -webkit-linear-gradient(left, rgb(234, 149, 33) 38%, rgb(230, 36, 36) 100%);
  background: -o-linear-gradient(left, rgb(234, 149, 33) 38%, rgb(230, 36, 36) 100%);
  background: -ms-linear-gradient(left, rgb(234, 149, 33) 38%, rgb(230, 36, 36) 100%);
  background: -moz-linear-gradient(left, rgb(234, 149, 33) 38%, rgb(230, 36, 36) 100%);
  background: linear-gradient(to right, rgb(234, 149, 33) 38%, rgb(230, 36, 36) 100%);
  padding: 12px;
  border-radius: 8px;
  font-size: 16px !important;
  font-weight: bold;
  color: white;
}
.contact-image {
  height: 100%;
}
.contact-image > img {
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 768px) {
  .contact-hero {
    padding: 1.5rem;
    justify-content: flex-start;
  }
  .contact-hero > h2 {
    font-size: 1.3rem;
  }
  .contact-contact {
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 0;
  }
  .contact-image {
    order: 0;
  }
  .contact-form {
    order: 1;
    padding: 2rem;
  }
  .contact-form > h3 {
    font-weight: 800;
  }
  .form-group > label {
    display: none;
  }
  .form-group > input,
  .form-group > textarea {
    padding: 1.5rem;
    border-radius: 0.5rem;
    border: 2px solid black;
    width: 100%;
  }
}
@media only screen and (max-width: 512px) {
  .contact-form h3 {
    width: 100%;
  }
}
/* ==========================End Contact========== */

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!ABOUT PAGE!!!!!!!!!!!!!!!!!!!!!! */
.app-btn-mobile {
  display: none;
}
/* =============================HERO PAGE========================= */
.hero {
  background-color: #ecedef;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
  padding: 5rem 1.5rem;
  width: 100%;
}
.hero-wrapper {
  display: flex;
  width: 85%;
  margin: 0 auto;
  gap: 5rem;
}
.hide-desktop {
  display: none;
}
.hero__content,
.hero__image {
  flex: 50%;
  height: black;
}
.hero__image {
  text-align: center;
}

.hero--title {
  margin: 0;
  line-height: 1.3;
  font-size: 3rem;
}
.hero--text {
  width: 100%;
  line-height: 1.7;
  font-size: 1.2rem;
}
.mt-10 {
  margin-top: 5rem;
}
.d-hidden {
  display: none;
}
@media only screen and (max-width: 768px) {
  .hide-desktop {
    display: initial;
    margin-left: 25%;
  }
  .hero--title {
    text-align: center;
  }
  .hide-mobile {
    display: none;
  }
  .hero-wrapper {
    flex-wrap: wrap;
  }
  .hero {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 94%);
  }
  .hero .hero__image {
    order: 0;
  }
  .hero--text {
    text-align: center;
    width: 100%;
  }
  .hero__content {
    order: 1;
  }
  .hero .hero__image > img {
    width: 100%;
    height: 320px;
    object-fit: contain;
  }
  .hero-wrapper .mt-10 {
    margin-top: 0;
  }
  .d-hidden {
    display: block;
    padding: 1rem 0;
  }
  .hero__content .flex {
    flex-direction: row;
  }
  .hero__content .social-btns {
    justify-content: flex-start;
  }
  .hero__content .social-btns .app-btn {
    border-radius: 20px;
  }
}

@media only screen and (max-width: 512px) {
  .hero-wrapper {
    padding-bottom: 35px;
  }
  .hero--title {
    font-size: 60px;
  }
  .hero--text {
    font-size: 20px;
  }
  .d-hidden .social-btns .app-btn {
    justify-content: center;
  }
  .d-hidden .social-btns .app-btn i {
    font-size: 25px;
  }
  .db {
    font-size: xx-small;
    color: rgb(228, 225, 225);
  }
  .d-hidden .social-btns .app-btn .big-txt {
    font-size: 10px;
  }
}

@media only screen and (max-width: 365px) {
  .app-btn-mobile {
    display: initial;
    font-size: 6px;
  }
  .d-hidden .social-btns .app-btn i {
    font-size: 20px;
  }
  .d-hidden .social-btns .app-btn p {
    padding-left: 0;
  }
  .d-hidden .social-btns .app-btn .big-txt {
    font-size: 100%;
  }
}
/* ==============================END Hero Section==================== */

/* ==============================Features Section==================== */
.section__title {
  width: 50%;
  text-align: center;
  margin: 0 auto;
  font-size: 2.8rem;
  margin-bottom: 1rem;
}
.feature-playing {
  background: linear-gradient(to right, rgb(234, 149, 33) 38%, rgb(230, 36, 36) 100%);
  clip-path: polygon(0 0, 100% 15%, 100% 100%, 0% 100%);
  padding: 150px 0;
  padding-bottom: 100px;
  margin-top: -7.5rem;
}
.feature-playing .section__title {
  margin-bottom: 2.5rem;
}

@media screen and (max-width: 786px) {
  .feature-playing .feature-playing__image {
    width: 100%;
  }
  .feature-playing {
    padding: 150px 0 20px 0;
  }
  .feature-playing .feature-playing__image > img {
    display: none;
  }
  .feature-playing__container {
    width: 90%;
    margin: 0 auto;
  }
  .feature-playing .section__title {
    width: 75%;
    text-align: left;
    font-weight: 800;
    margin-left: 0;
  }
}
@media screen and (max-width: 512px) {
  .feature-playing {
    padding-bottom: 14px;
  }
  .feature-playing .feature-playing__container .section__title {
    font-size: xx-large;
    margin-bottom: 5px;
    width: 80%;
  }
  .feature-playing__container {
    width: 90%;
    margin: 0 auto;
  }
  .feature-playing__container > .section__title {
    font-size: 14px;
  }
}
@media screen and (max-width: 312px) {
  .feature-playing .section__title {
    font-size: 26px;
  }
}

/* ==============================END Features Section================== */
/* ==============================Make Moments Section================== */
.flex-moment {
  display: flex;
  align-items: center;
  justify-content: center;
}
.make-feature {
  padding: 100px 0;
}
.make-feature .social-btns {
  justify-content: center !important;
}
.section__text {
  width: 54%;
  text-align: center;
  margin: 0 auto;
  line-height: 1.7;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}
@media only screen and (max-width: 768px) {
  .make-feature__container {
    width: 90%;
    margin: 0 auto;
  }
  .section__text {
    text-align: left;
    width: 100%;
  }
  .make-feature .make-feature__container .section__title {
    width: 100%;
    text-align: left;
    font-weight: 800;
  }

  .make-feature .dd .social-btns {
    justify-content: flex-start;
    flex-direction: row;
  }
  .make-feature .dd .social-btns .app-btn {
    flex-direction: row;
    border-radius: 20px;
  }
}

@media screen and (max-width: 312px) {
  .make-feature .section__title {
    font-size: 36px;
  }
  .make-feature .social-btns .app-btn {
    width: 50%;
    max-width: 200px;
    text-align: left;
    border-radius: 5px;
    text-decoration: none;
    font-family: "Lucida Grande", sans-serif;
    font-size: 3px;
    text-transform: uppercase;
  }
  .make-feature .social-btns .app-btn i {
    font-size: 10px;
  }
  .make-feature .social-btns .app-btn p {
    padding-left: 0;
  }
  .make-feature .social-btns .app-btn .big-txt {
    font-size: 5px;
  }
}
@media only screen and (max-width: 512px) {
  .make-feature__container {
    width: 90%;
    margin: 0 auto;
  }
  .make-feature {
    padding: 25px 5px;
  }
  .make-feature__container .section__title {
    width: 100%;
    font-size: 26px;
  }

  .make-feature__container .section__text {
    width: 100%;
    font-size: 14px;
  }
  .dd .social-btns .app-btn {
    justify-content: center;
  }
  .dd .social-btns .app-btn i {
    font-size: 15px;
  }
  .dd .social-btns .app-btn .big-txt {
    font-size: small;
  }
}

/* ==============================END Make Moments Section============== */

/* =============================END Features Sectoin================== */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!EXPLORE!!!!!!!!!!!!!!!!!!11 */
/* ==============================END Make Moments Section============== */

/* =============================END Features Sectoin================== */
/* =============================Immersive============================= */
.immersive {
  padding: 100px 0;
  width: 100%;
}
.immersive__image {
  text-align: center;
  width: 100%;
}
.immersive__image .img-1 {
  width: 30%;
  flex: auto;
}
.immersive__image .img-2 {
  width: 20%;
}
.immersive__image .img-3 {
  width: 30%;
  flex: auto;
}

.immersive .section__title {
  margin-bottom: 3rem;
  width: 40%;
}
@media only screen and (max-width: 768px) {
  .immersive {
    padding: 50px 0;
  }
  .immersive > .section__title {
    margin-left: 1rem;
    width: 75%;
    text-align: left;
    font-weight: 800;
  }
  .immersive__image {
    height: 93vh;
    overflow: hidden;
  }
  .immersive__image .img-1,
  .immersive__image .img-3 {
    display: none;
  }
  .immersive__image .img-2 {
    width: 100%;
  }
}
@media only screen and (max-width: 512px) {
  .immersive {
    width: 100%;
    padding-left: 8px;
    padding-right: 5px;
  }
  .immersive .section__title {
    margin-bottom: 3rem;
    font-size: 26px;
  }
  .immersive .immersive__image {
    height: 20rem;
  }
}
/* =============================End Immersive============================= */

.events__booking {
  background-color: #ecedef;
  clip-path: polygon(0 0, 100% 15%, 100% 100%, 0% 100%);
  padding: 150px 0;
  padding-bottom: 100px;
}
.parent img {
  width: 100%;
}

.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 70px;
  max-width: 50%;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  .events__booking {
    clip-path: none;
    padding: 0;
    padding-bottom: 0;
  }
  .parent {
    grid-template-columns: repeat(2, 1fr);
    max-width: 90%;
  }
}
@media only screen and (max-width: 512px) {
  .parent {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    max-width: 100%;
    margin: 0;
  }
}
/*===============================Local Content====================== */
.feature-playing__image {
  text-align: center;
}
.local-content {
  padding: 100px 0;
}
.local-content > .section__title {
  width: 30%;
}
.local-content .social-btns {
  justify-content: center !important;
}
.mobile-view {
  display: none;
}
@media only screen and (max-width: 768px) {
  .local-content {
    padding: 100px 0 50px 0;
  }
  .local-content__container {
    width: 90%;
    margin: 0 auto;
  }
  .local-content__container > .section__title {
    width: 100%;
    text-align: left;
    font-weight: 800;
    font-size: 72px;
  }
  .local-content__container > .section__text {
    display: none;
  }
  .local-content__container > .flex {
    margin-left: 1rem;
    flex-direction: row;
    justify-content: flex-start;
  }
  .local-content .app-btn {
    max-width: 180px;
    padding: 6px 4px;
    margin-left: 0;
    border-radius: 15px;
  }
  .xsm {
    font-size: xx-small;
    color: rgb(238, 234, 234);
  }
  .local-content .feature-playing__image img {
    display: none;
  }
  .mobile-view {
    display: inline;
  }
  .local-content .feature-playing__image {
    padding: 0px 0px !important;
  }
  .local-content .feature-playing__image div > img {
    height: 50%;
    background: green;
  }
  .local-content .app-btn .big-txt {
    font-size: 15px;
    text-transform: uppercase;
  }
  .local-content .social-btns .flex {
    flex-direction: row;
  }
  .feature-playing__image {
    margin: 0 1rem;
    overflow: hidden;
  }
}
@media screen and (max-width: 312px) {
  .local-content .section__title {
    font-size: 36px;
  }
  .local-content .social-btns .app-btn {
    width: 50%;
    max-width: 200px;
    text-align: left;
    border-radius: 5px;
    text-decoration: none;
    font-family: "Lucida Grande", sans-serif;
    font-size: 3px;
    text-transform: uppercase;
  }
  .local-content .social-btns .app-btn i {
    font-size: 10px;
  }
  .local-content .social-btns .app-btn p {
    padding-left: 0;
  }
  .local-content .social-btns .app-btn .big-txt {
    font-size: 5px;
  }
}
@media only screen and (max-width: 512px) {
  .local-content__container {
    width: 90%;
    margin: 0 auto;
  }
  .app-btn-mobile {
    display: initial;
    font-size: 10px;
  }
  .local-content__container .section__title {
    width: 100%;
    font-size: 26px;
  }
  .local-content__container .section__text {
    width: 100%;
    font-size: 18px;
  }
  .local-content {
    padding: 25px 8px;
  }
  .local-content .social-btns .app-btn i {
    font-size: 15px;
  }
  .local-content .social-btns .app-btn .big-txt {
    font-size: 8px;
  }
}
/* ==============================END local content==================== */

/* ==============================Live Entrainment===================== */
.live-entertainment {
  background-color: white;
  margin-bottom: 5rem;
}

.live-entertainment-wrapper {
  display: flex;
  width: 85%;
  margin: 0 auto;
  gap: 5rem;
}

.live-entertainment__content,
.live-entertainment__image {
  flex: 50%;
  padding: 5rem 1.5rem;
}
.live-entertainment__image {
  text-align: center;
  background-color: red;
}

.live-entertainment--title {
  margin: 0;
  line-height: 1.3;
  font-size: 3rem;
  width: 100%;
}
.live-entertainment--text {
  line-height: 1.7;
  font-size: 1.2rem;
}
.live-entertainment__image > img {
  width: 100%;
  height: 320px;
  object-fit: contain;
}
@media only screen and (max-width: 768px) {
  .live-entertainment-wrapper {
    width: 90%;
    flex-wrap: wrap;
    gap: 0;
  }
  .live-entertainment__content {
    padding: 10px 5px;
  }
  .live-entertainment__content .live-entertainment--title {
    width: 90%;
    padding-top: 0;
  }
  .live-entertainment--text {
    font-size: 28px;
    width: 80%;
  }
  .live-entertainment__image {
    padding: 0;
  }
}
@media only screen and (max-width: 512px) {
  .live-entertainment-wrapper {
    width: 90%;
    margin: 0 auto;
  }
  .live-entertainment__content .live-entertainment--title {
    width: 100%;
    font-size: 24px;
  }
  .live-entertainment__content .live-entertainment--text {
    width: 100%;
    font-size: 16px;
  }
  .live-entertainment--title {
    font-size: 30px;
    padding: 0 5px;
  }
  .live-entertainment--text {
    padding: 0 5px;
    width: 100%;
  }
}
/* ==============================END Live Entrainment===================== */
/*  */
.personalized-conn {
  background-color: #ecedef;
  clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
  padding: 150px 0;
  padding-bottom: 100px;
}
.owl-carousel,
.owl-carousel .owl-item {
  padding: 30px;
}
@media screen and (max-width: 768px) {
  .owl-carousel,
  .owl-carousel .owl-item {
    padding: 10px;
  }
}

.gallery {
  max-width: 100%;
  margin: 0 auto;
  margin-top: 32px;
}
.bg-black {
  background: #212629;
  color: white;
  border-bottom: 2px solid #2b3336;
}

@media only screen and (max-width: 768px) {
  .bg-black {
    border-bottom: 1px solid #2b3336;
  }
  .personalized-conn__wrapper .section__title {
    margin-left: 1rem;
    width: 95%;
    text-align: left;
    font-weight: 800;
  }
  .personalized-conn__wrapper .section__text {
    margin-left: 1rem;
  }
  .personalized-conn {
    padding: 100px 10px 0;
  }
}

@media only screen and (max-width: 512px) {
  .personalized-conn__wrapper {
    width: 90%;
    margin: 0 auto;
  }
  .personalized-conn__wrapper .section__title {
    width: 100%;
    font-size: 24px;
    margin: 0;
    margin-bottom: 15px;
  }
  .personalized-conn__wrapper .section__text {
    width: 100%;
    font-size: 17px;
    margin: 0;
  }
}
/* END */
/* ==========================Footer=============== */
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-btns {
  justify-content: start;
}

.app-btn.blu {
  background: linear-gradient(to right, rgb(234, 149, 33) 38%, rgb(230, 36, 36) 100%);
  transition: background-color 0.25s linear;
}
.app-btn.blu:hover {
  background-color: #454545;
}
.app-btn i {
  width: 20%;
  text-align: center;
  font-size: 32px;
  margin-right: 7px;
}
.app-btn .big-txt {
  font-size: 18px;
  text-transform: uppercase;
}

.footer-hero {
  clip-path: polygon(0 0, 100% 10%, 100% 100%, 0% 100%);
  padding-top: 150px;
  padding-bottom: 0;
}

.footer-hero .hero-wrapper {
  overflow: hidden;
}

.footer-hero .hero__image {
  position: relative;
  bottom: -60px;
}

@media only screen and (max-width: 1320px) {
  .flex {
    flex-direction: column;
    justify-content: flex-start;
  }
  .footer__wrapper > .col > .flex {
    justify-content: flex-start;
    align-items: flex-start;
  }
  .footer__wrapper > .col > .social-btns > .flex {
    flex-direction: row;
  }
  .app-btn .big-txt {
    font-size: 15px;
  }
}
@media screen and (max-width: 375px) {
  .footer__wrapper .section__title {
    font-size: 36px;
  }
  .footer__wrapper > .col > .social-btns > .app-btn {
    border-radius: 20px;
  }
  .footer__wrapper > .col > .social-btns > .app-btn i {
    font-size: 10px;
  }
  .footer__wrapper > .col > .social-btns > .app-btn p {
    padding-left: 0;
    font-size: 10px;
  }
  .footer__wrapper > .col > .social-btns > .app-btn .big-txt {
    font-size: 10px;
  }
}
@media only screen and (max-width: 610px) {
  .footer__wrapper {
    padding: 25px 5px;
  }
  .footer__wrapper > .col > .social-btns > .app-btn {
    width: 60%;
    max-width: 200px;
    text-align: left;
    border-radius: 20px;
    padding: 5px 3px;
    text-decoration: none;
    font-family: "Lucida Grande", sans-serif;
    font-size: 2%;
    text-transform: uppercase;
  }
  .footer__wrapper > .col > .social-btns > .app-btn > i {
    font-size: 20px;
  }
  .footer__wrapper > .col > .social-btns > .app-btn > p {
    padding-left: 8px;
  }
  .footer__wrapper > .col > .social-btns > .app-btn > .big-txt {
    font-size: 12px;
  }
}
/* ==========================END Footer=========== */
